* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll !important;
  width: 100%;
  position: relative;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  padding-right: 0 !important;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 15px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
